@keyframes moving {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-5px, -5px) scale(1.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes shining {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body::after {
  content: "moving";
  display: block;
  position: absolute;
  top: 2vw;
  left: 36.3vw;
  width: 63.7vw;
  height: 100vw;
  background-image: url("../assets/Mask_group.png");
  background-repeat: no-repeat;
  background-size: 60vw 55vw;
  animation: moving 7s linear infinite;
  transform: none;
}

body::before {
  top: 5.8vw;
  left: 1vw;
  width: 100%;
  height: 110%;
  content: "shining";
  display: block;
  position: absolute;
  background-image: url("../assets/Group_27.png");
  background-repeat: no-repeat;
  background-size: 38.3vw 58.5vw;
  background-position: none;
  animation: shining 7s linear infinite;
  animation-delay: 3s;
  opacity: 0;
  overflow-x: hidden;
}/*# sourceMappingURL=animation.css.map */