@import "../sass_files/styles_variables.scss";

@media screen and (max-width: 367px) {
header {
    display: flex;
    align-items: left;
    justify-content: left;
    nav ul {
        display: none;
      }
      
      .header__Nav {
        display: flex;
        .header__MainNav {
            height: 2vw;
            width: 25vw;
            font-family: $font-main;
            font-size: 5vw;
            font-weight: 600;
            line-height: 2vw;
            letter-spacing: 0.1em;
            text-align: left;
            color: $white-color;
            text-decoration: none;
            margin-left: 4vw;
          }
          
          .header__elementNav {
            display: none;
          }
          .mobileMenuIcon {
            width: 5vw;
            height: 5vw;
            color:$white-color;
            display: flex;
            flex-wrap: wrap;
            margin-left: 60vw;
          }
      }
  }
  
  











  body {
    background-image: url('../assets/Desktop_Backgrounds.png'), url('../assets/Mask_group.png'), url('../assets/Group_27.png');
    background-color: $color1;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 6vw;
    overflow-x: hidden;
    background-size: 155vw 105vw;
    background-position: right top; }
        
        @keyframes moving {
        0% {transform: translate(0, 0) scale(1);}
        25% {transform: translate(-20px, -10px) scale(1.2);}
        100% {transform: translate(0, 0) scale(1);}
        }
 
        @keyframes shining {
        0% {opacity: 0;}
        25% {opacity: 1;}
        75% {opacity: 1;}
        100% {opacity: 0;}
        }
  
        body::after {
        content: "moving";
        display: block;
        position: absolute;
        top: 1.8vw;
        left: 3.5vw;
        width: 90vw;
        height: 90vw;
        background-image: url('../assets/Mask_group.png');
        background-repeat: no-repeat;
        background-size: 91.6vw 85.2vw;
        animation: moving 4s linear infinite;
        transform: translateX(5vw);
        }
  
        body::before {
        top:8.5vw;
        left: 2vw;
        width: 100vw;
        height: 100vw;
        content: "shining";
        display: block;
        position: absolute;
        background-image: url('../assets/Group_27.png');
        background-repeat: no-repeat;
        background-size: 60vw 87.5vw;
        background-position: right top;
        animation: shining 4s linear infinite;
        animation-delay: 3s;
        opacity: 0;
        overflow-x: hidden;
        }
  
        .main__divBanner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20vh;
        .bigLogo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15vw;
            margin-top: 3vw;
            transform: rotateY(0deg) scale(1);
            transition: transform 1.0s;
            }
            .bigLogo:hover {
                transform: rotateY(180deg) scale(1.5);
                }
        .headerBigText,
        .headerSmallText {
            text-align: center;
            }
        .headerBigText {
            font-family: $font-family-oswald;
            font-size: 10vw;
            font-weight: 700;
            line-height: 15vw;
            letter-spacing: 0em;
            text-align: center;
            color: $white-color;
            }
  
        .headerSmallText {
            font-family: $font-main;
            font-size: 4vw;
            font-weight: 400;
            line-height: 5vw;
            letter-spacing: 0em;
            text-align: center;
            color: $color2;
            }
        }

        .main__divArticle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10vw;
        .mainBigText {
            font-family: $font-family-oswald;
            font-size: 10vw;
            font-weight: 700;
            line-height: 10vw;
            letter-spacing: 0em;
            text-align: center;
            color:$color3;
            width: 75vw;
            }
        .mainSmallText {
            font-family: $font-main;
            font-size: 4.5vw;
            font-weight: 400;
            line-height: 5vw;
            letter-spacing: 0em;
            text-align: center;
            color: #666666;
            width: 78vw;
            }
        .mainTextOnMainPart {
            display: grid;
            .mainDescribeText {
                font-family: $font-main;
                font-size: 3vw;
                font-weight: 400;
                line-height: 3vw;
                letter-spacing: 0em;
                color:66666;
                width: 80vw;
                }
            }
        .firstButton {
            font-family: Oswald;
            width: 16vw;
            height: 6vw;
            border: none;
            background-color: #55C2D8;
            border-radius: 3vw;
            color: $white-color;
            margin-top: 1vw;
            font-size: 2vw;
            transition: transform 0.3s;
            }
            .firstButton:hover {
                transform: rotate(10deg) translateY(10%);
                }
        }
    
        .main__divLastPart {
        background-image: linear-gradient(
       rgba(140, 79, 42, 0.3),
       rgba(140, 79, 42, 0.3)
        ), url('../assets/Desktop_Backgrounds_2.png');
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -1vw;
        margin-right: -1vw;
        margin-top: 6vw;
        overflow-x: hidden;
        transition: background-color 0.3s ease;
        background-size: 100vw 120vw;
        height: 120vw;

        .mainMoreBigText {
            font-family: $font-family-oswald;
            font-size: 8vw;
            font-weight: 700;
            line-height: 10vw;
            letter-spacing: 0em;
            text-align: center;
            color: $white-color;
            }
      
        .secondButton {
            width: 25vw;
            height: 25vw;
            background: #39C2D7;
            color: $white-color;
            border-radius: 27vw;
            font-size: 12vw;
            transition: transform 0.3s, background-color 0.3s;
            }
            .secondButton:hover {
                transform: scale(0.95);
                background-color: $white-color;
                color: #39C2D7;
                .secondButton:hover::before,
                .secondButton:hover::after {
                    background-color: #39C2D7;
                    }
                }
        

      
        .mainMoreSmallText {
            font-family: $font-main;
            font-size: 4vw;
            font-weight: 400;
            line-height: 6vw;
            letter-spacing: 0em;
            text-align: center;
            color: $white-color;
            width: 80vw;
            } 
        }















        .div_footer {
            background: $color3;
            margin-left: -1vw;
            margin-right: -1vw;
            margin-bottom: -1vw;
            display: flex;
            justify-content: space-between;
            height: 40vw;;
            align-items: center;
            flex-direction: column;
            .footer__column1{
            .smallLogo {
                width: 3vw;
                margin-left: -5vw;
                margin-top: 5vw;
                margin-right: 1.5vw;
            }
            .footerMainText {
                font-family: $font-main;
                font-style: normal;
                font-weight: 400;
                font-size: 3vw;
                line-height: 3vw;
                letter-spacing: 0.2em;
                color: white;
            }
            }
        
        
            .footer__column2 {
                display: flex;
                flex-direction: column;
                margin-left: 0vw;
                margin-top: 1.5vw;
                text-align: center;
                .footerAdress,
                .footerMail {
                    font-family: $font-main;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 3vw;
                    line-height: 3.5vw;
                    letter-spacing: 0.2em;
                    color: rgba(255, 255, 255, 0.4);
                    text-decoration: none;
                }    
                .divMail {
                    margin-top: 2vw;
                }
            }
        
            .footer__column3{
            .footerYear {
                font-family: $font-main;
                font-style: normal;
                font-weight: 400;
                font-size: 3vw;
                line-height: 1.5vw;
                letter-spacing: 0.2em;
                color: rgba(255, 255, 255, 0.4);
                margin-left: 0vw;
                margin-top: 5vw;
            }  
           }
        } 
    }