@media screen and (min-width: 368px) {
  .div_footer {
    background: #464547;
    margin-left: -1vw;
    margin-right: -1vw;
    margin-bottom: -1vw;
    display: flex;
    justify-content: space-between;
    height: 40vw;
    align-items: center;
    flex-direction: column;
  }
  .div_footer .footer__column1 .smallLogo {
    width: 3vw;
    margin-left: -5vw;
    margin-top: 5vw;
    margin-right: 1.5vw;
  }
  .div_footer .footer__column1 .footerMainText {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 3vw;
    letter-spacing: 0.2em;
    color: white;
  }
  .div_footer .footer__column2 {
    display: flex;
    flex-direction: column;
    margin-left: 0vw;
    margin-top: 1.5vw;
    text-align: center;
  }
  .div_footer .footer__column2 .footerAdress,
  .div_footer .footer__column2 .footerMail {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 3.5vw;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }
  .div_footer .footer__column2 .divMail {
    margin-top: 2vw;
  }
  .div_footer .footer__column3 .footerYear {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 1.5vw;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 0.4);
    margin-left: 0vw;
    margin-top: 5vw;
  }
}
/* ___________________________________________________________________ */
@media screen and (min-width: 768px) {
  .div_footer {
    background: #464547;
    margin-left: -1vw;
    margin-right: -1vw;
    margin-bottom: -1vw;
    display: flex;
    justify-content: space-between;
    height: 8vw;
    align-items: left;
    flex-direction: row;
  }
  .div_footer .footer__column1 .smallLogo {
    width: 1.5vw;
    margin-left: 10vw;
    margin-top: 0vw;
    margin-right: 1.5vw;
  }
  .div_footer .footer__column1 .footerMainText {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 1.5vw;
    letter-spacing: 0.2em;
    color: white;
  }
  .div_footer .footer__column2 {
    display: flex;
    flex-direction: column;
    margin-left: -50vw;
    margin-top: 1.5vw;
    text-align: left;
  }
  .div_footer .footer__column2 .footerAdress,
  .div_footer .footer__column2 .footerMail {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8vw;
    line-height: 1.5vw;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 0.4);
  }
  .div_footer .footer__column2 .divMail {
    margin-top: 2vw;
  }
  .div_footer .footer__column3 .footerYear {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8vw;
    line-height: 1.5vw;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 0.4);
    margin-left: -20vw;
    margin-top: 5vw;
  }
}/*# sourceMappingURL=styles_footer.css.map */