@media screen and (min-width: 368px) {
  header {
    display: flex;
    align-items: left;
    justify-content: left;
  }
  header nav ul {
    display: none;
  }
  header .header__Nav {
    display: flex;
  }
  header .header__Nav .header__MainNav {
    height: 2vw;
    width: 25vw;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 5vw;
    font-weight: 600;
    line-height: 2vw;
    letter-spacing: 0.1em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 4vw;
  }
  header .header__Nav .header__elementNav {
    display: none;
  }
  header .header__Nav .mobileMenuIcon {
    width: 5vw;
    height: 5vw;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    margin-left: 60vw;
  }
}
/* ___________________________________________________________________ */
@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  header nav ul nav li {
    margin-right: 3.5vw;
  }
  header .header__Nav {
    display: flex;
  }
  header .header__Nav .header__MainNav {
    height: 2vw;
    width: 25vw;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.4vw;
    font-weight: 600;
    line-height: 2vw;
    letter-spacing: 0.1em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 2vw;
  }
  header .header__Nav .header__elementNav {
    display: block;
    height: 0.8vw;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0.2em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 2vw;
  }
  header .header__Nav .mobileMenuIcon {
    display: none;
  }
}/*# sourceMappingURL=styles_header_part.css.map */