@import "../sass_files/styles_variables.scss";

@media screen and (min-width: 368px) {

.div_footer {
    background: $color3;
    margin-left: -1vw;
    margin-right: -1vw;
    margin-bottom: -1vw;
    display: flex;
    justify-content: space-between;
    height: 40vw;;
    align-items: center;
    flex-direction: column;
    .footer__column1{
    .smallLogo {
        width: 3vw;
        margin-left: -5vw;
        margin-top: 5vw;
        margin-right: 1.5vw;
    }
    .footerMainText {
        font-family: $font-main;
        font-style: normal;
        font-weight: 400;
        font-size: 3vw;
        line-height: 3vw;
        letter-spacing: 0.2em;
        color: white;
    }
    }


    .footer__column2 {
        display: flex;
        flex-direction: column;
        margin-left: 0vw;
        margin-top: 1.5vw;
        text-align: center;
        .footerAdress,
        .footerMail {
            font-family: $font-main;
            font-style: normal;
            font-weight: 400;
            font-size: 3vw;
            line-height: 3.5vw;
            letter-spacing: 0.2em;
            color: rgba(255, 255, 255, 0.4);
            text-decoration: none;
        }    
        .divMail {
            margin-top: 2vw;
        }
    }

    .footer__column3{
    .footerYear {
        font-family: $font-main;
        font-style: normal;
        font-weight: 400;
        font-size: 3vw;
        line-height: 1.5vw;
        letter-spacing: 0.2em;
        color: rgba(255, 255, 255, 0.4);
        margin-left: 0vw;
        margin-top: 5vw;
    }  
   }
}

}
 










  

/* ___________________________________________________________________ */
@media screen and (min-width: 768px) {
    .div_footer {
        background: $color3;
        margin-left: -1vw;
        margin-right: -1vw;
        margin-bottom: -1vw;
        display: flex;
        justify-content: space-between;
        height: 8vw;;
        align-items: left;
        flex-direction: row;
        .footer__column1 {
        .smallLogo {
            width: 1.5vw;
            margin-left: 10vw;
            margin-top: 0vw;
            margin-right: 1.5vw;
        }
        .footerMainText {
            font-family: $font-main;
            font-style: normal;
            font-weight: 400;
            font-size: 1.5vw;
            line-height: 1.5vw;
            letter-spacing: 0.2em;
            color: white;
        }
        }
    
        .footer__column2 {
            display: flex;
            flex-direction: column;
            margin-left: -50vw;
            margin-top: 1.5vw;
            text-align: left;
            .footerAdress,
            .footerMail {
                font-family: $font-main;
                font-style: normal;
                font-weight: 400;
                font-size: 0.8vw;
                line-height: 1.5vw;
                letter-spacing: 0.2em;
                color: rgba(255, 255, 255, 0.4);
            }    
            .divMail {
                margin-top: 2vw;
            }
        }

        .footer__column3 {
        .footerYear {
            font-family: $font-main;
            font-style: normal;
            font-weight: 400;
            font-size: 0.8vw;
            line-height: 1.5vw;
            letter-spacing: 0.2em;
            color: rgba(255, 255, 255, 0.4);
            margin-left: -20vw;
            margin-top: 5vw;
        }  
    }
  }
}