@keyframes moving {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-5px, -5px) scale(1.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes shining {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body::after {
  content: "moving";
  display: block;
  position: absolute;
  top: 2vw;
  left: 36.3vw;
  width: 63.7vw;
  height: 100vw;
  background-image: url("../assets/Mask_group.png");
  background-repeat: no-repeat;
  background-size: 60vw 55vw;
  animation: moving 7s linear infinite;
  transform: none;
}

body::before {
  top: 5.8vw;
  left: 1vw;
  width: 100%;
  height: 110%;
  content: "shining";
  display: block;
  position: absolute;
  background-image: url("../assets/Group_27.png");
  background-repeat: no-repeat;
  background-size: 38.3vw 58.5vw;
  background-position: none;
  animation: shining 7s linear infinite;
  animation-delay: 3s;
  opacity: 0;
  overflow-x: hidden;
}

@media screen and (min-width: 368px) {
  body {
    background-image: url("../assets/Desktop_Backgrounds.png"), url("../assets/Mask_group.png"), url("../assets/Group_27.png");
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 6vw;
    overflow-x: hidden;
    background-size: 155vw 105vw;
    background-position: right top;
  }
  @keyframes moving {
    0% {
      transform: translate(0, 0) scale(1);
    }
    25% {
      transform: translate(-20px, -10px) scale(1.2);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
  @keyframes shining {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  body::after {
    content: "moving";
    display: block;
    position: absolute;
    top: 1.8vw;
    left: 3.5vw;
    width: 90vw;
    height: 90vw;
    background-image: url("../assets/Mask_group.png");
    background-repeat: no-repeat;
    background-size: 91.6vw 85.2vw;
    animation: moving 4s linear infinite;
    transform: translateX(5vw);
  }
  body::before {
    top: 8.5vw;
    left: 2vw;
    width: 100vw;
    height: 100vw;
    content: "shining";
    display: block;
    position: absolute;
    background-image: url("../assets/Group_27.png");
    background-repeat: no-repeat;
    background-size: 60vw 87.5vw;
    background-position: right top;
    animation: shining 4s linear infinite;
    animation-delay: 3s;
    opacity: 0;
    overflow-x: hidden;
  }
  .main__divBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
  }
  .main__divBanner .bigLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    margin-top: 3vw;
    transform: rotateY(0deg) scale(1);
    transition: transform 1s;
  }
  .main__divBanner .bigLogo:hover {
    transform: rotateY(180deg) scale(1.5);
  }
  .main__divBanner .headerBigText,
  .main__divBanner .headerSmallText {
    text-align: center;
  }
  .main__divBanner .headerBigText {
    font-family: "Oswald", sans-serif;
    font-size: 10vw;
    font-weight: 700;
    line-height: 15vw;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }
  .main__divBanner .headerSmallText {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 4vw;
    font-weight: 400;
    line-height: 5vw;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
  .main__divArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
  }
  .main__divArticle .mainBigText {
    font-family: "Oswald", sans-serif;
    font-size: 10vw;
    font-weight: 700;
    line-height: 10vw;
    letter-spacing: 0em;
    text-align: center;
    color: #464547;
    width: 75vw;
  }
  .main__divArticle .mainSmallText {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 4.5vw;
    font-weight: 400;
    line-height: 5vw;
    letter-spacing: 0em;
    text-align: center;
    color: #666666;
    width: 78vw;
  }
  .main__divArticle .mainTextOnMainPart {
    display: grid;
  }
  .main__divArticle .mainTextOnMainPart .mainDescribeText {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 3vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    color: 66666;
    width: 80vw;
  }
  .main__divArticle .firstButton {
    font-family: Oswald;
    width: 16vw;
    height: 6vw;
    border: none;
    background-color: #55C2D8;
    border-radius: 3vw;
    color: #FFFFFF;
    margin-top: 1vw;
    font-size: 2vw;
    transition: transform 0.3s;
  }
  .main__divArticle .firstButton:hover {
    transform: rotate(10deg) translateY(10%);
  }
  .main__divLastPart {
    background-image: linear-gradient(rgba(140, 79, 42, 0.3), rgba(140, 79, 42, 0.3)), url("../assets/Desktop_Backgrounds_2.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -1vw;
    margin-right: -1vw;
    margin-top: 6vw;
    overflow-x: hidden;
    transition: background-color 0.3s ease;
    background-size: 100vw 120vw;
    height: 120vw;
  }
  .main__divLastPart .mainMoreBigText {
    font-family: "Oswald", sans-serif;
    font-size: 8vw;
    font-weight: 700;
    line-height: 10vw;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }
  .main__divLastPart .secondButton {
    width: 25vw;
    height: 25vw;
    background: #39C2D7;
    color: #FFFFFF;
    border-radius: 27vw;
    font-size: 12vw;
    transition: transform 0.3s, background-color 0.3s;
  }
  .main__divLastPart .secondButton:hover {
    transform: scale(0.95);
    background-color: #FFFFFF;
    color: #39C2D7;
  }
  .main__divLastPart .secondButton:hover .secondButton:hover::before,
  .main__divLastPart .secondButton:hover .secondButton:hover::after {
    background-color: #39C2D7;
  }
  .main__divLastPart .mainMoreSmallText {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 4vw;
    font-weight: 400;
    line-height: 6vw;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    width: 80vw;
  }
}
/* ___________________________________________________________________ */
@media screen and (min-width: 768px) {
  body {
    background-image: url("../assets/Desktop_Backgrounds.png"), url("../assets/Mask_group.png"), url("../assets/Group_27.png");
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    margin-top: 6vw;
    overflow-x: hidden;
    background-size: 100vw 70vw;
    background-position: none;
  }
  .main__divBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }
  .main__divBanner .bigLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    margin-top: 30vw;
    z-index: 1;
  }
  .main__divBanner .headerBigText,
  .main__divBanner .headerSmallText {
    text-align: center;
  }
  .main__divBanner .headerBigText {
    font-family: "Oswald", sans-serif;
    font-size: 4vw;
    font-weight: 700;
    line-height: 5vw;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }
  .main__divBanner .headerSmallText {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
  .main__divArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 45vw;
  }
  .main__divArticle .mainBigText {
    font-family: "Oswald", sans-serif;
    font-size: 4vw;
    font-weight: 700;
    line-height: 5vw;
    letter-spacing: 0em;
    text-align: center;
    color: #464547;
  }
  .main__divArticle .mainSmallText {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: center;
    color: #666666;
  }
  .main__divArticle .mainTextOnMainPart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
  }
  .main__divArticle .mainTextOnMainPart .mainDescribeText {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.5vw;
    letter-spacing: 0em;
    color: 66666;
    width: 27vw;
  }
  .main__divArticle .firstButton {
    font-family: "Oswald", sans-serif;
    width: 8vw;
    height: 3vw;
    border: none;
    background-color: #55C2D8;
    border-radius: 1.5vw;
    color: #FFFFFF;
    margin-top: 1vw;
    font-size: 1vw;
  }
  .main__divLastPart {
    background-image: linear-gradient(rgba(140, 79, 42, 0.3), rgba(140, 79, 42, 0.3)), url("../assets/Desktop_Backgrounds_2.png");
    /* background-size: cover; */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -1vw;
    margin-right: -1vw;
    margin-top: 6vw;
    overflow-x: hidden;
    transition: background-color 0.3s ease;
    background-size: 100vw 60vw;
    height: 60vw;
    overflow-x: hidden;
  }
  .main__divLastPart .mainMoreBigText {
    font-family: "Oswald", sans-serif;
    font-size: 4vw;
    font-weight: 700;
    line-height: 5vw;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }
  .main__divLastPart .secondButton {
    width: 14vw;
    height: 14vw;
    background: #39C2D7;
    color: #FFFFFF;
    border-radius: 15vw;
    font-size: 7vw;
  }
  .main__divLastPart .mainMoreSmallText {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2vw;
    font-weight: 400;
    line-height: 3vw;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }
}/*# sourceMappingURL=styles_main_part.css.map */