@import "../sass_files/styles_variables.scss";

@media screen and (min-width: 368px) {

header {
    display: flex;
    align-items: left;
    justify-content: left;
    nav ul {
        display: none;
      }
      
      .header__Nav {
        display: flex;
        .header__MainNav {
            height: 2vw;
            width: 25vw;
            font-family: $font-main;
            font-size: 5vw;
            font-weight: 600;
            line-height: 2vw;
            letter-spacing: 0.1em;
            text-align: left;
            color: $white-color;
            text-decoration: none;
            margin-left: 4vw;
          }
          
          .header__elementNav {
            display: none;
          }
          .mobileMenuIcon {
            width: 5vw;
            height: 5vw;
            color:$white-color;
            display: flex;
            flex-wrap: wrap;
            margin-left: 60vw;
          }
      }
  }
}  
  
  /* ___________________________________________________________________ */
  @media screen and (min-width: 768px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-content: center;
      nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
            nav li {
            margin-right: 3.5vw;
            }
      }

      .header__Nav {
        display: flex;
           .header__MainNav {
            height: 2vw;
            width: 25vw;
            font-family: $font-main;
            font-size: 1.4vw;
            font-weight: 600;
            line-height: 2vw;
            letter-spacing: 0.1em;
            text-align: left;
            color: $white-color;
            text-decoration: none;
            margin-left: 2vw;
          }
        
        .header__elementNav {
            display: block;
            height: 0.8vw;
            font-family: $font-main;
            font-size: 1.3vw;
            font-weight: 400;
            line-height: 3vw;
            letter-spacing: 0.2em;
            text-align: left;
            color: $white-color;
            text-decoration: none;
            margin-right: 2vw;
          }
        .mobileMenuIcon {
            display: none;
          }
      }
   }
}
  